.movie-card {
    width: 200px;
    height: auto;
    padding: 10px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-desc {
    border: 2px solid black;
    padding: 5px;
    margin: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.movie-image {
    width: 100%;
    margin: 5px;
}
