/* .navbar {
    width: 100vw;
    height: auto;
    border: 2px solid black;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-links {
    border: 2px solid black;
    width: 20%;
    display: flex;
    justify-content: center;
} */

#nav-logo {
    width: 120px;
}
